body {
    background-image: url('https://img.freepik.com/premium-photo/contemporary-spotless-fitness-gym-center-interiorgenerative-ai_391052-10889.jpg');
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 2em;
    background: rgba(255, 255, 255, 0.247);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    text-align: center;
    color: green;
}

.separator {
    text-align: center;
    margin: 15px 0;
    color: #777;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-button {
    background-color: #4285f4; /* Google color */
    color: white;
}

.social-button:nth-child(2) {
    background-color: #3b5998; /* Facebook color */
}

.social-button:hover {
    opacity: 0.8;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}